.closeTime {
  text-transform: uppercase;
  font-weight: bold;
}

.details {
  background: #666dc0;
  padding:0.5em;
  border-radius:3px;
  margin:0;
}

.details .title {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.3em;
  color: white !important;
  padding: 0;
  margin: 0;
}

.details h1:hover {
  text-decoration: underline;
}


.details .badge {
  background: #FFFFFF;
  color: #444444;
  font-weight: lighter;
  border: solid 1px #444444;
  margin-right: 0.5em;
  padding:0.5em;
  border-radius: 5px;
}

.details .moreBadge {
  border:0;
  color:black;
  min-width:5em;
}

.details .links a {
  color: white !important;
  text-transform: uppercase;
  font-size:0.5em !important;
  margin:0;
  padding:0.5em 0;
}

.details .links a:hover {
  text-decoration: underline;
  color: rgba(0,0,0,1);
}

.detailsContainer {
  margin:0;
}

.details button {
  width: 40%;
}

.details .status, .details .closeDate {
  color:white;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size:0.6em;
  text-align: right;
  letter-spacing: 0;
}

.details .closeDate {
  color:black;
}