.subItem {
  margin-bottom: 1em;
}

.closeTime {
  text-transform: uppercase;
  font-weight: bold;
}

.details {
  background: #666dc0;
  padding:0.5em;
  border-radius:3px;
  margin:0;
}

.details h1 {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.3em;
  line-height: 1.5em;
  color: white !important;
  padding: 0;
  margin: 0;
}

.details h2 {
  
}

.details h1:hover {
  text-decoration: underline;
}


.details .badge {
  background: #FFFFFF;
  color: #444444;
  font-weight: lighter;
  border: solid 1px #444444;
  margin-right: 0.5em;
  padding:0.5em;
  border-radius: 5px;
}

.details .moreBadge {
  border:0;
  color:#09a738;
  min-width:5em;
}

.details .links a {
  color: white !important;
  text-transform: uppercase;
  font-size:0.5em !important;
  margin:0;
  padding:0.5em 0;
}

.details .links a:hover {
  text-decoration: underline;
  color: rgba(0,0,0,1);
}

.detailsContainer {
  margin:0;
}

.editButtonContainer {
  padding: 0 5px;
}

.editButton, .dismissButton {
  background: #FFFFFF;
  border-radius:3px;
  width:100%;
  font-size: 0.8em;
  height:40%;
}

.dismissButton {
  background: grey;
  color:white;
}

.status {
  color:black;
  align-self: center;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size:0.6em;
  letter-spacing: 0;
  text-align:center;
}