body {
  margin: 0;
  padding-top: 4em;
  background: #919191;
  min-height:100vh;
  font-family: "Nunito", "Droid Sans", "Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,  .App, .fullscreen{
  min-height:100vh;
}

